{% load static %}
  <html>
    <head>
        <title>Your Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

    <div class="page-header">
      {% if user.is_authenticated %}

        <!--<a href="{% url 'logout_view' %}" class="top-menu" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a>-->
        <a href="{% url 'post_draft_list' %}" class="top-menu" title="Edit post"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url 'post_new' %}" class="top-menu" title="Create new post"><span class="glyphicon glyphicon-plus"></span></a>
        <p class="top-menu"><b>Hello {{ user.username }}</b></style><small> (<a href="{% url 'logout' %}">Logout</a>)</small></p>
      {% else %}
        <a href="{% url 'login' %}" class="top-menu" title="Login"><span class="glyphicon glyphicon-lock"></span></a>
        <a href="{% url 'signup' %}" class="top-menu" title="Signup"><span class="glyphicon glyphicon-leaf"></span></a>
      {% endif %}
        <h1><a href="/">Your Blog</a></h1>
    </div>
    <div class="socialProfiles">
      <a href="mailto:dikshitmaheshwari15@gmail.com" target="_blank"><img src="https://png.icons8.com/ios/50/000000/google-logo-filled.png" class="btn-goog" alt="G-Mail" height="25" width=auto></a>
      <a href="https://github.com/Dikshit15" target="_blank"><img src="https://png.icons8.com/ios-glyphs/60/000000/github.png" class="btn-git" alt="Github" height="25" width=auto></a>
      <a href="https://www.linkedin.com/in/dikshit15/" target="_blank"><img src="https://png.icons8.com/ios-glyphs/60/000000/linkedin-circled.png" class="btn-linkd" alt="LinkedIn" height="25" width=auto></a>
      <a href="https://stackoverflow.com/users/10178868/dikshit" target="_blank"><img src="https://png.icons8.com/ios/64/000000/stackoverflow-filled.png" class="btn-stack" alt="Stack Overflow" height="25" width=auto></a>
    </div>
    <br><br><br>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <div class="footer">
           <p>Copyrights Reserved & copy Dikshit Maheshwari</p>
           <p>|</p>
           <p>Do visit <a href="https://github.com/Dikshit15/my-first-blog" target="_blank">Github</a></p>
</div>
</body>
</html>
