{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <!--<p>{{ post.text|linebreaksbr }}</p>-->
            <p style="color:black">Author : {{ post.author}}</p>
            <div class="date"><p style="color:black">
                {{ post.published_date }}</p>
            </div>
            <br>
            <a href="{% url 'post_detail' pk=post.pk %}"><p style="color:black">Comments: {{ post.approved_comments.count }}</p></a>

        </div>
    {% endfor %}
{% endblock content %}
