  h1 a {
  color : #FCA205;
  font-family: 'Lobster';
}
body {
  padding-left: 15px;
  background-color: rgb(182, 25, 36);
}
.page-header{
  background-color: black;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -99999;
}

.socialProfiles{
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex !important;
    text-align: left;
    justify-content: space-around;
}

.btn-goog:hover{
    transform: scale(1.5, 1.5);
    transition: all 100ms 0s;
}
.btn-git:hover{
    transform: scale(1.5, 1.5);
    transition: all 100ms 0s;
}
.btn-linkd:hover{
    transform: scale(1.5, 1.5);
    transition: all 100ms 0s;
}


.btn-stack:hover{
    transform: scale(1.5, 1.5);
    transition: all 100ms 0s;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.footer{
    font-size: 12px;
    margin-top: 160px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    /*background-color: #b3ffb3;*/
    text-shadow: black;
}
@media(max-width: 510px){
    .footer{
        font-size: 8px;
    }
}
@media(min-width:511px and max-width: 720px){
    .footer{
        font-size: 9px;
    }
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: 'Blue';
    float: right;
    font-size: 28pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
